# Python / FastAPI
__pycache__/
*.pyc

# Virtual environment
venv/

# VS Code settings
.vscode/

# Environment variables
.env

# Windows OS file
Thumbs.db

# Ruff Linter Chche
.ruff_cache/

# Databases
*.db