# Virtual environment
venv/

# Python / FastAPI
__pycache__/

# VS Code settings
.vscode/

# Python cache
*.pyc

# Environment variables
.env

# Windows OS file
Thumbs.db

# Databases
*.db

# ruff-caches
.ruff_cache
